@forward 'global';
@use "util" as u;

body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 1rem;
    background-color: u.$soft-white;
    overflow-x: hidden;
}
#root{
    display: grid;
    height: 100%;
    grid-template-areas: 
    "head head head head"
    "main main main main"
    "main main main main"
    "side side side side"
    "foot foot foot foot";
}
.menu-bar{
    grid-area: head;
}
.web{
    grid-area: main;
}
.new-dark{
    grid-area: side;
}
.count{
    grid-area: foot;
}
ul{
    list-style: none;
    li:hover{
        color: u.$soft-red;
        cursor: pointer;
    }
}
.logo{
    width: auto;
}
//.hidden{
    //visibility: hidden;
   // display: none;
//}
.logo-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-frame{
    width: 100%;
    height: 20em;
}
h1{
    color: u.$very-dark-blue;
    font-size: 3rem;
    font-size: 900;
    margin-bottom: 1rem;
}
p{
    font-size: 1.1rem;
    line-height: 1.3;
    color: u.$dark-gray-blue;
}
.btn{
    width: 50%;
    height: 2.5rem;
    border: none;
    background-color: u.$soft-red;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: u.$soft-white;
    margin: 2rem 0;
    cursor: pointer;
}
.btn:hover{
    background-color: u.$very-dark-blue;
}
.new-dark{
    background-color: u.$very-dark-blue;
    color: u.$soft-white;
    p{
        color: u.$grayish-blue;
    }
    padding: 1rem;
    .new-child{
        margin-bottom: 2rem;
        p{
            margin-bottom: 1.5rem;
        }
        .line{
            width: 100%;
            height: 1px;
            background-color: u.$dark-gray-blue;
        }
    }
    h2{
        color: u.$soft-orange;
        margin-bottom: 1.5rem;
    }
    h3:hover{
        color: u.$soft-orange;
    }
}
h3{
    margin-bottom: 0.8rem;
}
.count{
    //height: 2rem;
    margin-top: 4rem;
    //margin-bottom: 10rem;
    h2{
        color: u.$grayish-blue;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    h3{
        color: u.$very-dark-blue;
    }
    h3:hover{
        color: u.$soft-red;
    }
    p{
        color: u.$dark-gray-blue;
        line-height: 1.8rem;
    }
    .count-child{
        display: flex;
        gap: 1rem; 
        margin-bottom: 2rem;
    }
}
.nav-icon{
    z-index: 999;
    cursor: pointer;
}

//navbar styles


ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6rem;
    li{
        padding: 1rem;
    }
}
.slide{
    position: absolute;
    background-color: u.$soft-white;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    right: -100%;
    transition: 350ms ease-in;
}
.slider{
    right: 0;
}
@media screen and (min-width: 45em) {
    #root{
        grid-template-areas: 
        "head head head head"
        "main main main main"
        "foot foot side side"
        "foot foot side side";
    }
    .web{
        //grid-column: 1/3;
       .flex{
        margin-top: 1rem;
           display: flex;
           .btn-container{
               width: 100%;
           }
       }
   }
}
@media screen and (min-width: 70em) {
    #root{
        grid-template-areas: 
        "head head head head "
        "main main main side"
        "main main main side"
        "foot foot foot foot";
        gap: 1.5rem;
    }
.menu-bar{
    //grid-column: 1/-1;
    display: flex;
    align-items: center;
}
.web{
   .flex{
       .btn-container{
           .btn{
            width: 50%;
           }
       }
   }
}

  .new-dark{
    .main-frame{
        width: 100%;
    }
   // grid-column: 3/-1;
  }
  .count{
    //grid-column: 1/-1;
    display: flex;
  }
   .logo-container{
    margin-bottom: 0;
    display: inline;
    width: max-content;
    height: auto;
    margin-right: 2rem;
    margin-right: auto;
    //outline: 2px solid yellow;
   }
    .btn{
        width: 100%;
    }
   
   ul{
    //border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 1.5rem;
    li{
        padding: 0;
        margin-right: 10%;
    }
   }
   .slide{
    background-color: transparent;
    display: inline;
    right: 0;
    height: auto;
   }
    .nav-icon{
        display: none;
    }
    
}
