<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <title>Frontend Mentor | News homepage</title>
  <link rel="stylesheet" href="scss/input.css">

</head>
<body>
  <div class="root">


  <div class="menu-bar">

    <div class='logo-container'>

      <img class='logo' src="assets/images/logo.svg" alt="logo"/>
      <img src="assets/images/icon-menu.svg" alt="menu-icon"/>
      <img class='hidden' src="assets/images/icon-menu-close.svg" alt="close-icon"/>
      
    </div>


    <div class="nav-container">

    <nav class="hidden">
      <ul>
        <li>Home</li>
        <li>New</li>
        <li>Popular</li>
        <li>Trending</li>
        <li>Categories</li>
      </ul>
    </nav>
    </div>
    
  </div>

  <!--Upper part done-->



  <div class="Web 3.0">

    <img class="main-frame" src="assets/images/image-web-3-mobile.jpg" aria-hidden="true">
    <h1>The Bright Future of Web 3.0?</h1>
    <p>We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
    <button class="btn">READ MORE</button>

  </div>
  

    <!--Upper part done-->


  <div class="new-dark">

    <h2>New </h2>

    <div class="new-child">

      <h3>Hydrogen VS Electric Cars</h3>
      <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
      <div class="line"></div>
      <!--<hr>-->
    </div>

    <div class="new-child">

      <h3>The Downsides of AI Artistry</h3>
      <p>What are the possible adverse effects of on-demand AI image generation?</p>
      <div class="line"></div>
      <!--<hr>-->
    </div>

    <div class="new-child">

      <h3>Is VC Funding Drying Up?</h3>
      <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>

  </div>

</div>


<!--Upper part done-->




  <div class="count">

    <div class="one count-child">
      <img class="count-img" src="assets/images/image-retro-pcs.jpg" aria-hidden="tr
      ">
      <div>

        <h2>01</h2>

        <div>

          <h3>Reviving Retro PCs</h3>
          <p>What happens when old PCs are given modern upgrades?</p>

        </div>
        
      </div>
    </div>

    <div class="two count-child">
      <img class="count-img" src="assets/images/image-top-laptops.jpg" aria-hidden="true">
      <div>

        <h2>02</h2>
        
        <div>
          
          <h3>Top 10 Laptops of 2022</h3>
          <p>Our best picks for various needs and budgets.</p>

        </div>
      </div>
    </div>

    <div class="three count-child">
      <img class="count-img" src="assets/images/image-gaming-growth.jpg" aria-hidden="true">
      <div>

        <h2>03</h2>

        <div>

          <h3>The Growth of Gaming</h3>
          <p>How the pandemic has sparked fresh opportunities.</p>

        </div>
        

      </div>
    </div>

  </div>






</div>
</body>
</html>
